@import "./utils/vars";
@import "./base/reset";
@import "./base/common";

@import "./components/header/logo";
@import "./components/header/navigation";
@import "./components/header/contacts";

@import "./components/hero-section/hero";
@import "./components/hero-section/backdrop";
@import "./components/hero-section/modal-form";

@import "./components/advantage";

@import "./components/do";

@import "./components/team";

@import "./components/clients";

@import "./components/portfolio/filter-buttoms";
@import "./components/portfolio/portfolio-list";

@import "./components/footer/footer";
@import "./components/footer/contacts";
@import "./components/footer/logo";
@import "./components/footer/social-links";
@import "./components/footer/subscribe";