.hero{
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../images/mainpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $background-hero-section;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
   
&__titel{
    width: 696px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
    }

&__button{
    display: block;
    min-width: 200px;
    height: 50px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white-color;
    background-color: $blue-color;
    border: 0px;
    border-radius: 4px;
    cursor: pointer
}
}

.hero__button--close{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    padding: auto;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    }

.hero__button--close-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;

    width: 18px;
    height: 18px;
    fill: #000;
}

.hero__button--close-icon:hover,
.hero__button--close-icon:focus{
    fill: $blue-color;
    cursor: pointer;
}
