.advantage{
    padding-bottom: 94px;
    padding-top: 94px;
&-list{
    display: flex;
    flex-wrap: wrap;
    }
}

.advantage-list .advantage-item{
    width: 270px;
    margin-right: 30px;
}

.advantage-item::before{
    display: block;
    content: "";
    height: 120px;
    background-color: $background-team;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.icon-antenna::before{
    background-image: url("../images/antenna.svg");
}

.icon-clock::before{
    background-image: url("../images/clock.svg");
}

.icon-diagram::before{
    background-image: url("../images/diagram.svg");
}

.icon-astronaut::before{
    background-image: url("../images/astronaut.svg");
}

.advantage-item:last-child{
    margin-right: 0px;
}
.advantage-titel{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $titels-color;
}