.do{
    padding-bottom: 94px;
    padding-top: 0px;
&-list{
    display: flex;
    }  
&-text{
    position: absolute;
    bottom: 27px;
    left: 86px;
       
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}
}

.do-list-item{
    position: relative;
    margin-right: 30px;
&:last-child{
    margin-right: 0px;
}
&::before{
    display: inline-block;
    content: "";
    background-color: $section-do;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    }
}
