.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $background-team;
&-list{
        display: flex;
    }
&-name,
&-possition{
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
&-name{
        margin-bottom: 10px;
        font-weight: 500;
        color: $titels-color;
    }
&-possition{
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
    }
}

.team-person{
    margin-right: 30px;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
&:last-child{
        margin-right: 0px;
    }
}

.sociallinks{
    padding: 30px 32px 30px 32px;


&-list{
    display: flex;
    justify-content: center;
}

&-link{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 44px;
    height: 44px;
    padding: 12px;
    margin-left: 10px;
    background-color: $white-color;
    fill: $border-color-icon;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&-item:last-child{
    margin-left: 0px;
}

&-link:hover,
&-link:focus{
    fill: $white-color;
    background-color: $blue-color;
}
}